<div id="books-index">
  <div class="row">
	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails Power</h3>
	  <%= image_tag('covers/powerofrails.png') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails 3</h3>
	  <%= image_tag('covers/rails3.jpg') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails 5</h3>
	  <%= image_tag('covers/rails5.jpg') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails 6</h3>
	  <%= image_tag('covers/rails6.jpg') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

  </div>

  <div class="clearfix"></div>

  <div class="row">
	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails </h3>
	  <%= image_tag('covers/ror.jpg') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails Head First</h3>
	  <%= image_tag('covers/img.png') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>


	<div class="col-md-3 col-sm-3">
	  <h3>Beginning Ruby On Rails6</h3>
	  <%= image_tag('covers/img_1.png') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-3 col-sm-3">
	  <h3>Ruby On Rails 4 In Action</h3>
	  <%= image_tag('covers/img_2.png') %>
	  <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
	</div>

  </div>

</div>